:root {
  --grid-border-color: #000;
  --pac-dot-color: #40e0d0;
  --wall-color: #6495ed;
  --power-pallet-background-color: #ccccff;
  --pacman-background-color: #9fe2bf;
  --blinky-color: #de3163;
  --pinky-color: #ff7f50;
  --inky-color: #ffbf00;
  --clyde-color: #dfff00;
  --scared-ghost-color: #76d7c4;
}

html,
body {
  margin: 10;
  padding: 10;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 420px;
  border: solid var(--grid-border-color);
}

.grid div {
  width: 15px;
  height: 15px;
}

.pac-dot {
  background-color: var(--pac-dot-color);
  border: 5px solid white;
  box-sizing: border-box;
}

.wall {
  background-color: var(--wall-color);
}

.power-pellet {
  background-color: var(--power-pallet-background-color);
  border-radius: 7.5px;
}

.pacman {
  background-color: var(--pacman-background-color);
  border-radius: 7.5px;
  border: none;
}

.blinky {
  background-color: var(--blinky-color);
  border: none;
}

.pinky {
  background-color: var(--pinky-color);
  border: none;
}

.inky {
  background-color: var(--inky-color);
  border: none;
}

.clyde {
  background-color: var(--clyde-color);
  border: none;
}

.scared-ghost {
  background-color: var(--scared-ghost-color);
  border: none;
}
