body {
  background-color: red;
  display: flex;
  justify-content: center;
}

.grid {
  margin-top: 30px;
  width: 396px;
  height: 396px;
  border: solid blue 8px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 20px;
  height: 20px;
  border: solid brown 0.5px;
}

.wall {
  background-color: black;
}

.pac {
  background-color: purple;
}

.ghost {
  background-color: red;
}
