:root {
  --background-color: #46e1f5;
  --color-one: #f5c046;
  --color-two: #def546;
  --color-three: #6446f5;
  --color-four: #de5cd1;
}

body {
  margin: 5%;
  font-family: "Gill Sans", "Gill Sans MT";
  display: grid;
  justify-content: center;
  background-color: var(--background-color);
}

.title {
  color: white;
  text-align: center;
  margin-bottom: 1em;
}

.entry-textbox {
  background-color: var(--color-two);
  width: 20em;
  height: 10em;
  padding: 1em;
  margin-bottom: 0.5em;
  border: unset;
  border-radius: 25px;
}

.entry-textbox:focus {
  outline: none;
  box-shadow: 0px 0px 2px green;
}

#entryForm .button {
  border: unset;
  border-radius: 25px;
  padding: 5px 16px;
  margin-left: 76%;
  background-color: white;
}

#entries {
  background: var(--color-four);
  color: #3797a4;
  font-family: cursive;
  padding: 2em;
  max-width: 20em;
  border: unset;
  border-radius: 25px;
  margin-top: 1em;
}

.entries-nav {
  padding-bottom: 1em;
}

.display-entry-button {
  margin: 0.2em;
}

.display-entry-button:hover {
  cursor: pointer;
}
