:root {
  --snake-color: #138d75;
  --apple-color: #ff5733;
  --background-color: #99ecdc;
}

html,
body {
  margin: 10;
  padding: 10;
  background-color: var(--background-color);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
  border: solid 2px blue;
}

.square {
  width: 20px;
  height: 20px;
}

.snake {
  background-color: var(--snake-color);
}

.apple {
  background-color: var(--apple-color);
}
